
html {
    
    --bg-color: #1A1D1A;
    --bg-topnav-color: #262726ea;
    --bg-box-color: #3a4c58;
    --hilight-color: #03ddc0;
    --text-color: #F6F7EB;
    --h3-text-color: #8AB0AB;


    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    text-align: justify;
}

body {
    height: 100%;
    background-color: var(--bg-color);
    margin: 0;
}

.content {
    margin: 0;
}

/* PARAMETRE FLEX */

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h {
    flex-direction: row;
}

.v {
    flex-direction: column;
}

.r {
    justify-content: right;
}

.l {
    justify-content: left;
}




/* TOPNAV */

div.topnav {
    background-color: var(--bg-topnav-color);
    position: sticky;
    z-index: 100;
    top: 0;
    border-bottom: solid 1px var(--hilight-color);
}


div.topnav a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
    align-content: center;
    margin: 0 14px
}


div.topnav a.icon {
    font-size: 30px;
}

div.topnav a.link {
    display: none;
}

div.responsive.topnav a.link {
    /*border-top: var(--hilight-color) 1px solid;*/
    display: block;
    text-align: right;
}

/* INTRO */

h1 {
    font-size: 50px;
    font-weight: 400;
    margin: 14px 0 0px 14px;
}


#profile {
    width: 250px;
    margin: 20px 0;
}

/* CONTENT */

div.container {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 0;
}

div.box {
    background-color: var(--bg-box-color);
    border-radius: 14px;
    padding: 14px;
}

div.title {
    scroll-margin-top: 90px;
    justify-content: space-between;
    margin-bottom: 16px;
}

.title i {
    font-size: 30px;
    color: var(--hilight-color);
}

h2 {
    font-weight: 400;
    margin: 0;
    color: var(--hilight-color);
}

/* PERSO */

div.element {
    display: flex;
    align-items: center;
    margin-top: 14px;
}

div.personal_info div.element i {
    margin-right: 10px;
}

div.personal_info {
    margin-top: 0;
}

/* SKILL */

div.competence div.element {
    justify-content: space-between;
    margin-top: 14px;
}

div.competence {
    margin-top: 16px;
}

h3 {
    margin: 14px 0 0 0;
    color: var(--h3-text-color);
    font-weight: 400;
}


div.box p {
    margin: 0;
}

p.skill {
    margin: initial;
}

#arrow {
    display: none;
}

#competence {
    display: none;
}




@media screen and (min-width: 600px) {


    #competence {
        display: flex;
        width: 300px;
        margin-top: 50px;
    }

    #profile {
        width: 300px;
    }

    div.content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        display: flex;
        margin: 50px 0;
    }

    div.box {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        width: 450px;
    }

    div.container {
        margin: 40px 0;
        display: flex;
        flex-direction: column-reverse;
        max-width: 1000px;
        justify-content: space-around;
        
    }
}

@media screen and (min-width: 650px) {
   

    div.topnav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    div.topnav a.link {
        display: flex;
        margin: 14px;
        border-radius: 5px;
    }

    div.topnav a.link:hover {
        color: var(--hilight-color);
    }

    div.topnav a.icon {
        display: none;
    }    
}

@media screen and (min-width: 850px) {

    #profile {
        margin-left: 50px;
    }

    #arrow {
        display: flex;
        width: 200px;
        margin-bottom: 0;
        margin-right: 50px;
    }

    #competence {
        margin-top: 0;
        margin-left: 50px;
    }

    div.container.first {
        flex-direction: row;
    }
    
    div.container {
        flex-direction: row-reverse;        
    }

}